body {
	background-color: #b8ffc9;
	height:100vh; 
	margin:0; 
	display:flex; 
	flex-direction:column; 
	background-repeat:no-repeat; 
	background-attachment: fixed;
}

@media(max-width:991px) {
	#header-text {
		text-align: center;
	}

	#header-image {
		display: none;
	}
}

@media(max-width:767px) {
	#login-header-image {
		display: none;
	}
}